@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0277bd;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    width: 100%;
    height: 120px;
    padding: 30px;
    text-align: center;
    background-color: #0288d1;
    color: #fff;
    position: relative;
    display: inline-table;
}

header h1 {
    font-weight: 300;
    font-size: 5vw;
}

#app, #app ul {
    display: flex;
    position: relative;
}
#app {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#app ul {
    width: 50%;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #0288d1;
    border-radius: 20px;
}
ul li {
    width: 50px;
    list-style: none;
    background-color: #01579b;;
    color: #fff;
    text-align: center;
    height: 50px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    font-weight: bolder;
    cursor: pointer;
}
li:hover {
    background-color: #29b6f6;
    border: 2px solid #01579b;
}
#callback {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #000000c4;
    flex-direction: column;
    color: #fff;
}
#callback button {
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: #0288d1;
    color: #fff;
}
#callback button:hover {
    color: #fff !important;
    background-color: #01579b !important;
}
#result { 
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px dashed rgba(255, 255, 255, 0.87);
    background-color: rgb(1, 119, 155);
    height: 200px;
    display: none;
    flex-direction: column;
    justify-content: center;
}
#result h3 {
    margin-bottom: 20px;
}
#result p {
    text-align: justify;
    padding: 5px;
}
#reset {
    display: none;
    background: #fff !important;
    color: #0288d1 !important;
}
.selected {
    background-color: #29b6f6;
    border: 2px solid #01579b;
}